.container {
    background-color: rgb(0, 123, 255);
    border: 5px solid rgb(6, 3, 68);
    height: 400px;
    width: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.item {
    background-color: rgb(202, 106, 106);
    border-color: brown;
    border-style: solid;
    border-width: 5px;
    height: 85px;
    width: 85px;
    font-weight: bold;
}